---
import Layout from '../layouts/Layout.astro'
const title = "SVG Edges"
const host = import.meta.env.HOST
---
<Layout title={title}>
	<h1 class="font-bold text-xl p-1">SVG Edge Editor</h1>
	<p class="ml-3">More info on <a class="underline" href="https://github.com/WebSVG/svg-edge-editor" target="_blank">github repo</a>
	</p>
	<div class="relative m-3">
		<a  href="https://github.com/WebSVG/svg-edge-editor" target="_blank">
		  <button type="button"
		  class="flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
		  aria-expanded="false" aria-haspopup="true">
		  <img class="h-8 w-8 rounded-full" src={`${host}/github.png`} alt="">
		</button>
	  </a>
	  </div>

</Layout>
