---
import Layout from '../layouts/Layout.astro'
import SvgEditor from '../components/SvgEditor.astro'
import EdgesStyles from '../components/EdgesStyles.astro'

const title = "SVG Edges"
console.log("I'm here")
---
<Layout title={title}>
	<div class="mycontainer">

		<SvgEditor/>
		<EdgesStyles/>	
	</div>
</Layout>

<style>
	.mycontainer{
		display: flex;
		background-color: grey;
		justify-content:space-around;
		align-items: flex-start;
	}
</style>