---
const host = import.meta.env.HOST
---
<div id="edges"></div>

<style>
    #edges{
        background-color:bisque;
        min-width: 200px;
        min-height: 200px;
        margin : 5px
    }
</style>