---
const host = import.meta.env.HOST
---
<div id="editor"  >
    <p id="hint" class="text-lg">Drag an SVG File here to get started</p>
</div>


<style is:inline>
    #editor{
        background-color: aquamarine;
        min-width: 1200px;
        min-height: 400px;
        margin : 5px;
        display : flex;
        align-items: center;
        justify-content: center;
    }

    .edge-selector:hover{
        fill:rgba(202, 128, 115, 0.24);
        transition: 0.3s;
    }

    .edge-blinker{
        animation: blink 2s;
    }
    @keyframes blink {
        0%    {fill: #00000000;}
        50%   {fill: rgba(202, 128, 115, 0.24);}
        100%  {fill: #00000000;}
    }    
</style>

<script type="module">
    import {load_svg,dropHandler,dragOverHandler} from "/src/editor_handlers.js"
    const editor = document.getElementById("editor")
    editor.addEventListener("drop",dropHandler)
    editor.addEventListener("dragover",dragOverHandler)
    const response = await fetch(location.href+'data/voronoi_svg_export.svg')
    const svg_file = await response.text()
    load_svg(svg_file)
</script>
